.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.home .container {
  height: 700px;
}
.home {
  height: 100vh;
  background-image: url(../Images/1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

svg {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.footer {
  color: white;
}
.info {
  color: white;
}
html {
  scroll-behavior: smooth;
}
